{% extends 'base.html' %}
{% block title %}Accessibility statement - Cyber health assessment{% endblock %}
{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
      <h1 class="govuk-heading-xl">Accessibility statement</h1>

      <p>
        This statement applies to content published on the XXXXX domain. It does not apply to content on XXXXX subdomains.
      </p>

      <p>
        This web application is run by XXXXX. It is designed to be usable by as many people as possible. The text should be clear and simple to understand. You should be able to:
      </p>

      <ul>
        <li>zoom in up to 300% without problems</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>use most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

    <h2>How accessible this website is</h2>
    <h2>Accessibility on subdomains</h2>
    <h2>Feedback and contact information</h2>
    <h2>Reporting accessibility problems with this website</h2>
    <h2>Enforcement procedure</h2>
    <h2>Technical information about this websites accessibility</h2>
    <h2>Compliance status</h2>
    <h2>Non accessible content</h2>
    <h2>How we tested this website</h2>
    <h2>What were doing to improve accessibility</h2>
    <h2>Preparation of this accessibility statement</h2>


    </main>
  </div>

{% endblock %}