{% extends 'base.html' %}
{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
      <h1 class="govuk-heading-xl">Cookie policy</h1>

      <p>
        If required, this page could include information about:
    </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Cookies that measure website use (we may not need this if using Piwik(?))</li>
        <li>Cookies that help with our communications and marketing</li>
        <li>Cookies that help with communications/marketing</li>
        <li>Cookies that remember user settings</li>
        <li>Any absolutely necessary cookies (e.g. tracking progress through a form).</li>
      </ul>

    </main>
  </div>

{% endblock %}