{% extends 'base.html' %}
{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper govuk-body" id="main-content" role="main">
      <h1 class="govuk-heading-xl">Privacy policy</h1>

      <p>
        This page could include information about:
    </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>What data we collect</li>
        <li>Why we need your data</li>
        <li>Our legal basis for processing your data</li>
        <li>How long we keep your data</li>
        <li>Children's privacy protection</li>
        <li>Where your data is processed and stored</li>
        <li>How we protect your data and keep it secure</li>
        <li>Your rights</li>
        <li>Links to other websites</li>
        <li>Information accessed via this Cyber Health Assessment</li>
        <li>Contact us or make a complaint</li>
      </ul>

    </main>
  </div>

{% endblock %}