{% extends 'base.html' %}
{% block title %}Assessment index page{% endblock %}
{% block content %}

<div class="govuk-width-container">
  <a href="/assessment/" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">

        <h1 class="govuk-heading-l">Assessment index page </h1>
        <p class="govuk-body">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Question</th>
              <th scope="col" class="govuk-table__header">Assessment</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

           {% for question in questions %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="psn/question/{{ question.id }}">{{question.question_text}}</a></td>
              <td class="govuk-table__cell"><strong class='govuk-tag govuk-tag--{{ question.answer_colour }}'>{{ question.chosen_answer }}</strong></td>
            </tr>
           {% endfor %}

          </tbody>
        </table>

    </div>
  </main>
</div>
{% endblock %}

