{% extends 'base.html' %} 
{% block title %}{% if form.errors %}Error: {% endif %}Log in to Assess Your Cyberhealth{% endblock %}
{% block content %}
<div class="govuk-width-container">
   <a href="/" class="govuk-back-link">Back</a>
   <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
         <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Log in to Assess Your Cyberhealth</h1>
            {% if form.errors %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
               <h2 class="govuk-error-summary__title" id="error-summary-title">
                  There is a problem
               </h2>
               <div class="govuk-error-summary__body">
                  <ul class="govuk-list govuk-error-summary__list">
                     {% if form.non_field_errors %}
                     {% for error in form.non_field_errors %}
                     <li>
                        <a href="#{{form.username.id_for_label}}">{{error}}</a>
                     </li>
                     {% endfor %}
                     {% endif %}
                     {% for field in form %}
                     {% if field.errors %}
                     {% for error in field.errors %}
                     <li>
                        <a href="#{{field.id_for_label}}">{{error}}</a>
                     </li>
                     {% endfor %}
                     {% endif %}
                     {% endfor %}
                  </ul>
               </div>
            </div>
            {% endif %}
            <form method="post" novalidate>
               {% csrf_token %}
               <fieldset class="govuk-fieldset">
                  <div class="govuk-form-group {% if form.username.errors or form.non_field_errors %} govuk-form-group--error {% endif %}">
                     <label for="{{form.username.id_for_label}}" class="govuk-label">{{form.username.label}}</label> 
                     <div id="email-hint" class="govuk-hint govuk-!-width-three-quarters">
                        Enter the email address you used to create an account for Assess Your Cyberhealth
                     </div>
                     {% if form.non_field_errors %}
                     {% for error in form.non_field_errors %}
                     <span id="form-error" class="govuk-error-message govuk-!-width-three-quarters">
                     <span class="govuk-visually-hidden">Error:</span> 
                     {{error}}</span>
                     {% endfor %}
                     {% elif form.username.errors %}
                     {% for error in form.username.errors %}
                     <span id="email-error" class="govuk-error-message">
                     <span class="govuk-visually-hidden">Error:</span> 
                     {{error}}</span>
                     {% endfor %}
                     {% endif %}
                     <input type="text" name="{{form.username.name}}" value="{% if form.username.value %}{{form.username.value}}{% endif %}" id="{{form.username.id_for_label}}" class="govuk-input govuk-!-width-three-quarters {% if form.username.errors or form.non_field_errors %} govuk-input--error {% endif %}" value="" maxlength="48" aria-describedby="user_id-hint" autocomplete="username" type="email"> 
                  </div>
                  <div class="govuk-form-group {% if form.password.errors%} govuk-form-group--error {% endif %}">
                     <label for="{{form.password.id_for_label}}" class="govuk-label">Password</label> 
                     {% if form.password.errors %}
                     {% for error in form.password.errors %}
                     <span id="password-error" class="govuk-error-message">
                     <span class="govuk-visually-hidden">Error:</span> 
                     {{error}}</span>
                     {% endfor %}
                     {% endif %}
                     <input type="password" name="{{form.password.name}}" id="{{form.password.id_for_label}}" class="govuk-input govuk-!-width-three-quarters {% if form.password.errors %} govuk-input--error {% endif %}" autocomplete="current-password"> 
                  </div>
               </fieldset>
               <div class="govuk-body govuk-!-margin-bottom-6"">
                  <a class="govuk-link"  href="{% url 'password_reset' %}">Forgot your password</a>
               </div>
               <button
                  class="govuk-button"
                  data-module="govuk-button"
                  type="submit"
                  value="Submit"
                  >
               Log in
               </button>
               <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-6">
               <h2 class="govuk-heading-s govuk-!-margin-top-6">Don't have an account?</h2>
               <div class="govuk-body">
                  <a class="govuk-link govuk-!-margin-bottom-5 " href="{% url 'create-an-account' %}">Create an account</a>
               </div>
         </div>
      </div>
      </form>
</div>
</div>
</main>
</div>
{% endblock content %}