{% extends 'base.html' %}
{% block title %}Signed out of Assess Your Cyberhealth{% endblock %}
{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">You have signed out</h1>
                    <a class="govuk-button" href="{% url 'login' %}">Return to login</a>
                 </div>
              </div>
           </main>
    </div>
{% endblock content %}