{% extends 'base.html' %}

{% block title %}{% if form.errors %}Error: {% endif %}Check your email – Assess Your Cyberhealth – GOV.UK{% endblock %}

{% block content %}
    <div class="govuk-width-container" xmlns="http://www.w3.org/1999/xhtml">
    <main class="govuk-main-wrapper govuk-!-padding-top-0" id="main-content" role="main">
        <a href="/" class="govuk-back-link govuk-!-margin-bottom-8">Back</a>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Check your email</h1>
                <p class="govuk-body-l">
                    We have sent an email with details of how to reset your password to:<br>
                    <strong>{{ email }}</strong>
                </p>

                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
              I have not received this email
            </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p>The email may take a few minutes to arrive. Its subject line is: ‘Password Reset’.</p>

                        <p>Check your spam or junk folder – if it still has not arrived, you can <a class="govuk-link govuk-!-margin-bottom-5 " href="{% url 'password_reset' %}">request another password reset</a>.</p>
                    </div>
                </details>
            </div>
        </div>
    </main>
</div>
{% endblock content %}