{% extends 'base.html' %} {% block title %}Check your email{% endblock %} 
{% block content %}
<div class="govuk-width-container">
  <a href="{% url 'create-an-account' %}" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Check your email</h1>
        <p class="govuk-body">
          We have sent a confirmation to your email address.
          Please check your email for further instructions
        </p>
        <a href="{% url 'login' %}" class="govuk-link">Login to your account</a>
      </div>
    </div>
  </main>
</div>
{% endblock content %}

